[project]
	description = Tutorial repository of an angular application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ferron H (ferronrsmith)
[access "refs/for/refs/*"]
	read = group user/Ferron H (ferronrsmith)
	push = group user/Ferron H (ferronrsmith)
	label-Code-Review = -2..+2 group user/Ferron H (ferronrsmith)
	label-Verified = -1..+1 group user/Ferron H (ferronrsmith)
	rebase = group user/Ferron H (ferronrsmith)
	removeReviewer = group user/Ferron H (ferronrsmith)
	submit = group user/Ferron H (ferronrsmith)
[access "refs/heads/*"]
	read = group user/Ferron H (ferronrsmith)
	create = group user/Ferron H (ferronrsmith)
	push = +force group user/Ferron H (ferronrsmith)
	pushMerge = group user/Ferron H (ferronrsmith)
[access "refs/tags/*"]
	push = +force group user/Ferron H (ferronrsmith)
	pushTag = group user/Ferron H (ferronrsmith)
	pushSignedTag = group user/Ferron H (ferronrsmith)
